---
import BaseLayout from "tutorial/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Redirecting to RSS Feed" shouldRedirect={true} redirectUrl="./rss.xml">
    <main>
        <p>If you are not automatically redirected, <a href="./rss.xml">please click here.</a></p>
    </main>
</BaseLayout>