---
import MainLayout from "layouts/MainLayout.astro";
---

<MainLayout pageTitle="About Me">
    <article>
        <section>
            <h2>What I do</h2>
            <p>
                I design systems that make work easier, clearer, and more reliable.
            </p>
        </section>
        <section>
            <h2>What I love</h2>
            <p>
                Automation, efficiency, omotenashi
            </p>
        </section>
    </article>
</MainLayout>