---
import MainLayout from "layouts/MainLayout.astro";

---

<MainLayout pageTitle="Welcome to my world!">
    <main>
        <h1>Colby H.</h1>
        <table>
			<tbody>
				<tr>
					<td>Location</td>
					<td>Texas, USA</td>
				</tr>
				<tr>
					<td>Favorite Languages</td>
					<td>C# / Python</td>
				</tr>
			</tbody>
		</table>
    </main>
</MainLayout>