<main>
    <article>
        <h1>About</h1>
        <section>
            <h2>Section 1</h2>
            <p>Something something, dark side.</p>
        </section>
        <section>
            <h2>Section 2</h2>
            <p>"Swiftly!" the rabbit said as he hopped along an old beaten path. This must be the fluffy one's normal route.</p>
        </section>
    </article>
</main>